.mainHeader {
    height: 12.5rem;
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHeader img {
    width: 1.375rem;
    height: 2.25rem;
    margin-right: 0.75rem;
}

.mainHeader p {
    font-family: 'Inter', sans-serif;
    line-height: 48.41px;
    font-size: 2.5rem;
    font-weight: 900;
}

.mainHeader p.blueText {
    color: var(--blue-500);
}

.mainHeader p.purpleText {
    color: var(--purple-800);
}
