.mainHeader {
    height: 12.5rem;
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHeader img {
    width: 1.375rem;
    height: 2.25rem;
    margin-right: 0.75rem;
}

.mainHeader p {
    font-family: 'Inter', sans-serif;
    line-height: 48.41px;
    font-size: 2.5rem;
    font-weight: 900;
}

.mainHeader p.blueText {
    color: var(--blue-500);
}

.mainHeader p.purpleText {
    color: var(--purple-800);
}

.wrapper {
    max-width: 46rem;
    margin: 0 auto;
    padding: 0 1rem;
}

main {
    margin-top: -1.6875rem;
}

main .wrapper form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

main .wrapper form input {
    width: 39.875rem;
    height: 3.375rem;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    background-color: var(--gray-500);
    padding: 1rem;
    font-size: 1rem;
    line-height: 22.4px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--gray-300);
}

main .wrapper form input:focus {
    border: 1px solid var(--purple-800);
}

main .wrapper form button {
    background-color: var(--blue-800);
    border: 0;
    border-radius: 8px;
    width: 5.625rem;
    height: 3.25rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: var(--gray-100);
    line-height: 19.6px;
    cursor: pointer;
}

main .wrapper form button:not(:disabled):hover {
    background-color: var(--blue-500);
}

main .wrapper form button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

main .wrapper div.tasksInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

main .wrapper div.tasksInfo div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main .wrapper div.tasksInfo div p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 16.94px;
}

main .wrapper div.tasksInfo div p.blueText {
    color: var(--blue-500);
}

main .wrapper div.tasksInfo div p.purpleText {
    color: var(--purple-500);
}

main .wrapper div.tasksInfo div div.quantityBorder {
    min-width: 1.5625rem;
    height: 1.1875rem;
    background-color: var(--gray-400);
    display: flex;
    justify-content: center;
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
}

main .wrapper div.tasksInfo div span {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 14.52px;
    color: var(--gray-200);
}

main .wrapper div.emptyListTasks {
    border-top: 2px solid var(--gray-500);
    border-radius: 8px;
    height: 15.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .wrapper div.nonEmptyListTasks {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 0.75rem;
    padding-bottom: 1rem;
}

main .wrapper div.emptyListTasks img {
    height: 3.5rem;
    width: 3.5rem;
    margin-bottom: 1rem;
}

main .wrapper div.emptyListTasks strong {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 22.4px;
    color: var(--gray-300);
}

main .wrapper div.emptyListTasks span {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 22.4px;
    color: var(--gray-300);
}
